/* Global */
:root {
  /* Primary-color */
  --primary-color: #406052;
  --primary-light-color: #6c8d7e;
  --primary-dark-color: #17362a;
  /* Secondary-color */
  --secondary-color: #2b2b2b;
  --secondary-light-color: #545454;
  --secondary-dark-color: #000000;

  /* Font-size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation-duration */
  --animation-duration: 300ms;
}

/* Universial tag */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  list-style: none;
  padding-left: 0;
}

.title {
  margin: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--primary-dark-color);
  margin: 16px 0;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--secondary-color);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--secondary-dark-color);
  margin: 4px 0;
}

/* navbar pt css */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-dark-color);
  align-items: center;
  height: 80px;
}

.navbar_logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.navbar_logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar_list {
  display: flex;
}

.navbar_list_item {
  padding: 10px 8px;
  margin: 0 12px;
}

.navbar_list_item:hover {
  color: var(--secondary-dark-color);
  background-color: var(--primary-light-color);
}

/* About pt css */
#about {
  background-color: lightgray;
}

.about_left {
  display: flex;
  float: left;
  margin: 0 auto;
  text-align: center;
}

.about_right {
  float: left;
  margin: 0 auto;
  text-align: left;
}

.home_introduction > span {
  font-weight: bold;
  font-size: var(--font-regular);
  color: var(--primary-dark-color);
}

#about_description > span {
  font-weight: bold;
  color: var(--primary-dark-color);
}
/* MBTI pt css */
#mbti {
  background-color: darkgreen;
}

/* Hobby pt css */
#hobby {
  background-color: lightgray;
}

/* Programming pt css */
#programming {
  background-color: darkgreen;
}

/* Testimonials pt css */
#testimonials {
  background-color: lightgray;
}

/* Contact pt css */
#contact {
  background-color: darkgreen;
}
