/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-baby-pink: #ffcdd2;
  --color-dark-pink: #9b7495;
  --color-light-pink: #ffcccb;
  --color-dark-purple: #59315a;
  --color-heavy-pink: #c48b9f;
  --color-dark-grey: #4d4d4d;
  --color-p-pink: #f0a3a3;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-vergandy: #c0535380;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation Duraion */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  z-index: 1;
  transition: all var(--animation-duration) ease-in-out;
  height: 70px;
}

#navbar.navbar--dark {
  background-color: #25362c;
  padding: 8px;
}

.navbar__logo a {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: #e2dfdf;
  letter-spacing: 2px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 15px;
  margin: 0 9px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: #afafaf;
  border-radius: var(--size-border-radius);
  color: #25312e;
}

.navbar__toggle-btn {
  position: absolute;
  top: 15px;
  right: 32px;
  font-size: 27px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url(img/main_background.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 300px;
  height: 300px;
  transition: var(--animation-duration) ease;
  padding-bottom: 50px;
  padding-left: 5px;
}

.home__avatar:hover {
  transform: scale(1.5);
}

.home__title,
.home__description,
.home_self_introduce > p {
  color: var(--color-white);
}

.home__title > span {
  color: #98a59d;
}

.home__description > span {
  color: #98a59d;
}

.home__description {
  margin-bottom: 30px;
}

.home_self_introduce > p {
  line-height: 30px;
  font-size: 16px;
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  transition: all var(--animation-duration) ease;
}

.home__contact:hover {
  background-color: #374a3f;
  transform: scale(1.2);
}

/* Section common */
.section {
  padding: 50px;
  padding-top: 90px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

#about h1 span {
  color: #37453d;
}
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
  width: 100%;
}

.major {
  margin: 0 10px 0 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border: 1px solid rgb(47, 70, 47);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-heavy-pink);
}

.major__title,
.major__description {
  color: rgb(52, 70, 66);
}

.major__description {
  font-size: var(--font-small);
  line-height: 30px;
}

.major__title {
  font-size: var(--font-regular);
  font-weight: bold;
}

.major__icon:hover img {
  color: var(--color-grey);
  transform: rotate(-30deg) scale(1.1);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

/* Skills */
#skills {
  background-color: #3d4d44;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 25px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  width: 70%;
  height: 3px;
  background-color: #a0bcab;
}

.skillset__title {
  margin-top: 0;
  padding-top: 10px;
  color: var(--color-white);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.ets {
  padding: 20px;
}

.etc {
  padding-top: 10px;
}

/* Work */
#work {
  background-color: rgb(239, 239, 239);
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-micro);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: rgb(54, 66, 61);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-light-grey);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: #98a59d;
  font-weight: bold;
}

.project__description h3:after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--color-white);
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

/* Testimonials */
#testimonials {
  background-color: rgb(210, 210, 210);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  transition: all var(--animation-duration) ease-in;
}

.testimonial__avatar:hover {
  transform: scale(1.4);
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble a {
  color: rgb(36, 122, 92);
  font-weight: bold;
}

.testimonial__speech-bubble .name {
  font-weight: bold;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

/* Contact */
#contact {
  background-color: rgb(112, 126, 120);
}

.contact__title,
.contact__email,
.contact__right {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-light-grey);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  color: var(--color-dark-pink);
  opacity: 0;
  transition: opacity var(--animation-duration) ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-dark-pink);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 50px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 3px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }
  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 100px;
    height: 100px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
  }

  .arrow-up {
    width: 10px;
    padding-right: 15px;
    bottom: 16px;
  }
}
